<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Cadastro de paciente!</title>
</head>
<body>

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row w-100">
        <div class="col-md-6 mx-auto">
        <form form action="/cadastro" th:object="${paciente}" method="post">
            <div class="mb-3">
                <label for="NomeCompleto" class="form-label">Nome completo</label>
                <input type="text" class="form-control" id="NomeCompleto" th:field="*{nomeCompleto}" required>
            </div>
            <div class="mb-3">
                <label for="dataNascimento" class="form-label">Data de nascimento</label>
                <input type="date" class="form-control" id="dataNascimento" th:field="*{dataNascimento}" required>
            </div>
            <div class="mb-3">
                <label for="cpf" class="form-label">CPF:</label>
                <input type="text" class="form-control" id="cpf" title="Digite o CPF" placeholder="000.000.000-00" aria-describedby="cpfHelp" th:field="*{cpf}" required>
                <div id="cpfHelp" class="form-text">Nunca compartilharemos seu cpf com ninguém.</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" th:field="*{email}" required>
                <div id="emailHelp" class="form-text">Nunca compartilharemos seu e-mail com ninguém.</div>
            </div>
            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input type="password" class="form-control" id="senha" th:field="*{senha}" required>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>